p {
    font-size: 16px;
    font-weight: normal;
    color: black;
    margin: 5px;
}

#aboutme-div{
    margin: auto;
    display:flex;
    position:relative;
    top: 30px;
    width: 60%;
}

#aboutme-section {    
    top:63px;
    left: 0px;
    display:block;
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0)
}

#myphoto{
    height:250px;
    border-radius: 10px;
    position: relative;
    align-content: center;
    top: 4px;
    left: 6px
}

.left-container{
    height: 401px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #999;
    background-color: #FFFFFF
}

#social-medias{
    top: 250px;
    width:200px;
    position: relaive;
    display: inline-block;
    align-items: center;
}
#socialmedia-logo {
    margin: 0px 5px;
    margin-top:5px;
}

.center-container {
    display: block;
    position: relative;
    left: 20px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #999;
    background-color: #FFFFFF;
    padding: 10px;
}

.linkedin {
    background-color: #ffffff;
    border-radius: 5px;
}

.bottom-container{
    background-color: #3C3C3C;
    position:absolute;
    bottom: 0;
    left:0;
    height:40px;
    width: 100%;
    text-align: center;
}
