@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    text-decoration: none;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
}

#logo {
    height: 55px;
}

header {
    position: relative;
    display:flex;
    width: 100%;
    height: 60px;
    margin: auto;
    top: 0px;
    left: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: #F2FF74 solid;
}

#backgroundimg {
    position:fixed;    
    left:-5px;
    top: 0px;
}

nav {
    align-content: center;
    align-items: center;
    display: flex !important;
    width: 100%;
}

.navitem {
    font-family: 'Kanit',sans-serif;
    color: #FFF;
    text-align: center;
    margin: 0px 15px;
    padding: 0px 15px;
}

.navitem:hover {
    color: #888;
}

.navitem:active {
    color: #FFF
}

a:active {
    color:#F2FF74
}